/**
 * typography.css
 * Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
 */

html {
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
